html {
    scroll-behavior: smooth;
    z-index: 1;
    
}

.hero{
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 20px 30px rgb(37, 169, 212);
    margin-bottom: 45px;
}
.background{
    background: repeating-linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.753), rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}
.hero-content {
    text-align: left;
    color: #adadad;
    max-width: 450px;
    margin: 0 40px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 35px;
    color: #fff;
}
.hero-content h1 span{
    color: rgb(133, 207, 241);
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 15px;
}

.cta {
    display: inline-block;
    background-color: #103d91;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.cta:hover {
    background-color: #3067ce;
    color: #fff;
}



@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.Tulung{
    margin-top: 10px;
    padding: 20px;
}
.Tulung .page-content{
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(20, 20, 20, 0.2);
}
.Tulung h1{
    margin-bottom: 15px;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: rgb(63, 51, 226);
    text-underline-offset: 15px;
    font-weight: bold;
}
.Tulung .title {
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
}
.dark .Tulung .title{
    color: #fff;
}
.Tulung .card-content {
    padding: 15px;
    margin: auto;
    /* background-color: #88d5e270; */
    
    height: fit-content;
    border-radius: 20px;
    box-shadow: 10px 8px 15px rgba(20, 20, 20, 0.4);
}
.Tulung .inner-card {
    padding: 15px;
    margin: auto;
    height: fit-content;
    /* box-shadow: 90px 20px 200px rgba(20, 20, 20, 0.9); */
}
/* mentor */
.Mentor {
    margin-top: 10px;
    padding: 20px;
}

.Mentor .page-content {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(20, 20, 20, 0.2);
}

.Mentor h1 {
    margin-bottom: 15px;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: rgb(63, 51, 226);
    text-underline-offset: 15px;
    font-weight: bold;
}

.Mentor .title {
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
}

.dark .Mentor .title {
    color: #fff;
}

.Mentor .card-content {
    padding: 15px;
    margin: auto;
    background-color: #88d5e270;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 10px 8px 15px rgba(20, 20, 20, 0.4);
}

.Mentor .inner-card {
    padding: 15px;
    margin: auto;
    height: fit-content;
    justify-content: center;
    /* box-shadow: 90px 20px 200px rgba(20, 20, 20, 0.9); */
}
.Mentor .cta{
    border-radius: 20px;
    padding: 15px;
}
/* Harga */
.Harga {
    margin-top: 10px;
    padding: 20px;
}
.Harga .page-content{
    border-radius: 20px;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(20, 20, 20, 0.2);
}
.Harga .cta{
    margin: auto;
    margin-top: 40px;
    padding: auto;
    align-items: center;
    text-align: center;
}
.Harga h1 {
    margin-bottom: 15px;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: rgb(63, 51, 226);
    text-underline-offset: 15px;
    font-weight: bold;
}

.Harga .title {
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
}

.dark .Harga .title {
    color: #fff;
}
.Fitur{
    margin-top: 15px;
    padding: 20px;
}
.Fitur .page-content{
    padding: 20px;
    /* background: repeating-linear-gradient(to left, #3AA6B9, #3aa6b970, rgba(255, 255, 255, 0)); */
    border-radius: 20px;
    background-color: #fff;
    /* box-shadow: 1px 3px 3px rgba(20, 20, 20, 0.534); */
}
.Fitur .page-content_mentor {
    padding: 20px;
    background: repeating-linear-gradient(to top, #3AA6B9, #3aa6b970, rgba(255, 255, 255, 0));
    border-radius: 20px;
    box-shadow: 5px 3px 50px rgba(20, 20, 20, 0.534);
}

.card-row {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 20px;
    border-radius:5px;
    
}


.outer-card {
    width: calc(50% - 20px);
}

.Fitur .inner-card {
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 20px;
}


.inner-card_img img {
    width: 87%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    padding: 20px;
    background-color: #88d5e270;
    justify-content: center;
    height: fit-content;
    box-shadow: 0 18px 20px rgba(20, 20, 20, 0.534);
}
.dark .page-content{
    background: #202c3c;
    color: white;
}
.dark .Fitur .page-content p {
    color: white;
}
.dark .card-content{
    padding: 20px;
    color: white;
    background-color: #514e5a;
}
.dark .card-content h2{
    color: white;
}

.card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    margin-bottom: 20px;
}
.Testimonial {
    margin-top: 10px;
    padding: 20px;
}
.Testimonial h1 {
    margin-bottom: 15px;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: rgb(63, 51, 226);
    text-underline-offset: 15px;
    font-weight: bold;
}

.Testimonial .title {
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
}

.dark .Testimonial .title {
    color: #fff;
}
.page-content_testi{
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(20, 20, 20, 0.2);
}
.dark .page-content_testi{
    background-color: #202c3c;
}
.testimonial-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    position: relative;
    width: 100%;
    background-color: #88d5e270;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dark .testimonial{
    background-color: #514e5a;
    color: white;
}

.testimonial-img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

.testimonial-author {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.testimonial-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.testimonial-controls button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial-controls button:hover {
    background-color: #333;
    color: #f2f2f2;
}
@media screen and (max-width: 768px) {
    .hero {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background {
        background: repeating-linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.644), rgba(255, 255, 255, 0));
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: bottom;
        align-items: bottom;
    }
    .card-row {
        display: contents;
        justify-content: baseline;
        flex-wrap: nowrap;
        padding: 20px;
        width: 100%;
        border-radius: 5px;
    }
    .outer-card {
        width: calc(100%);
        margin-bottom: 10px;
        margin-top: 20px;
        border-radius: 5px;
        overflow: hidden;
        border-radius: 20px;
        flex-wrap: wrap;
    }
    .hero-content h1 {
        font-size: 40px;
        margin-top: 70%;
    }

    .hero-content p {
        font-size: 12px;
        margin: 15px;
    }
    .hero-content {
        text-align: center;
        color: #fff;
        max-width: 400px;
        margin: 0 auto;
    }
    .cta {
        padding: 6px 13px;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;

    }
    .Mentor .cta {
        margin: auto;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        text-align: center;
    }
}